# Compiled output
/dist
/build

# Dependencies
/node_modules

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests & Coverage
/coverage
/.nyc_output

# Temp & scratch
/tmp
/temp
